torch==1.11.0+cu113
pandas==1.1.4
torchvision==0.12.0+cu113
chumpy
gdown
scipy==1.1.0
opencv-python==4.1.2.30
markupsafe==2.0.1

torchmetrics==0.6.0
pandas==1.1.4
pyarrow==4.0.0
scikit-learn==0.23.2
fvcore
iopath
smplx[all]


numpy
six
terminaltables
cython
matplotlib
visdom
pycocotools
tqdm
tensorboardx
tensorboard
easydict
pyyaml
future
opendr
ffmpeg-python
